img {
    width: 98px;
    height: 98px;
    border-radius: 50%;
}

.flexbox-container {
    border: 1px solid black;
    display: flex;
    justify-content: center/*flex-start|flex-end|space-between|space-around*/
}